{% extends "base.html" %}

{% block title %}Adult Role Model of the Year Nomination Form{% endblock %}

{% block img %}adultrole.jpg{% endblock %}

{% block headline %}Adult Role Model of the Year{% endblock %}

{% block due %}
    Nominations for an adult role model living or working within Morgan Hill
    are
{% endblock %}

{% block action%}adult{% endblock %}

{% block q1 %}
    How does the nominee model responsible, positive behavior 
    for young people in Morgan Hill? 
{% endblock %}

{% block q2 %}
    Provide at least two specific examples of the nominee's impact on
    young people and the Morgan Hill community at large as a result of their
    asset-building efforts.
{% endblock %}
