{% extends "base.html" %}

{% block title %}Business of the Year Nomination Form{% endblock %}

{% block img %}businessrole.jpg{% endblock %}

{% block headline %}Business of the Year{% endblock %}
{% block due %}
    Nominations for businesses within Morgan Hill are
{% endblock %}

{% block action%}business{% endblock %}

{% block q1 %}
    What are the most significant examples and results of actions being taken
    to help create a youth-friendly business so youth feel valued and respected?
{% endblock %}

{% block q2 %}
    What sets this business apart from others in the Morgan Hill community?
{% endblock %}
