<html>
  <head>
    <link href="/static/home.css" rel="stylesheet" type="text/css" />
    <title>Asset Builder Conference of Morgan Hill</title>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1 class="center maroon"> ASSET BUILDER CONFERENCE</h1>
        <h2 class="center maroon">Building a Strong Youth Community in Morgan Hill</h2>
        <h3 class="center">Saturday, March 16, 2013<br/>
                          8:30am to 3:00pm </h3>
      </div>
      <div id="nav">
        <div class="box">
          <a href="http://mhassetconference.eventbrite.com" class="center white">Registration</a>
        </div>
        <div class="box">
          <a href="/static/1-14TrifoldTwoSidedConferenceBrochure.pdf" class="center white">More Info</a>
        </div>
        <div class="box">
          <a href="/static/The41AssetsList.pdf" class="center white">41 Assets</a>
        </div>
        <div class="box">
          <a href="/assets" class="center white">Asset Champion</a>
        </div>
        <div class="box">
          <a href="/static/PresentersProposalForm.docx" class="center white">Presenter Proposal</a>
        </div>
        <div class="box">
          <a href="/static/1-13BoothInterestForm.pdf" class="center white">Booth Interest</a>
        </div>
        <div class="box last">
          <a href="/static/1-13SponsorConferenceparticipants.docx" class="center white">Sponsorship</a>
        </div>
      </div>
      <div id="content">

        <h3 class="center maroon">Tools for Successful Youth Development</h3>
        <br/><br/><br/>
        <div class="left">
          <p><b>Developmental Assets are crucial building blocks necessary <br/>
              to develop youth into thriving, successful adults.</b></p>
          <div id="info" class="center">
            <b class="maroon">Join us for this FREE one-day conference<br/>
                              to learn how you can impact your own youth<br/>
                              and youth in our community.<br/></b>
            <b class="tan">--Over 20 workshops from which to choose--<br/>
                              Breakfast and Lunch included!</br></b>    
          </div>
          <p><b>This conference is open to anyone, not just parents!</b></p>
        </div>
        <div>
          <img src="/static/images/Trianglepic_transparent.png" 
                width="344" height="300"/>
        </div>
        <div class="clear">
        <div id="tab">
          <table>
            <tr>
              <th><label for="date">DATE</label></th>
              <td id="date"><b class="maroon">Saturday, March 16</b></td>
            </tr>
            <tr>
              <th><label for="time">TIME</label></th>
              <td id="time"><b class="maroon">8:30am-3:00pm</b></td>
            </tr>
            <tr>
              <th><label for="location">LOCATION</label></th>
              <td id="location"><b class="maroon">Community and Cultural Center <br/>
                                                17000 Monterey Road, MH</b></td>
            </tr>
          </table>
        </div>
        <div id="reg">
          <b class="maroon">PRE REGISTRATION REQUIRED</b></br>
          <b class="maroon">Register at</b>
            <a href="http://www.mhassetconference.eventbrite.com">www.mhassetconference.eventbrite.com</a>
        </div>
        </div>
        <div class="clear">
          <p><b class="maroon">Asset Champion Awards</b> presented to a Morgan Hill youth-serving organization,
            business, adult, and school that are practicing <br/>outstanding youth-asset
            development. <b class="maroon">Nominate your candidate</b> by completing the 
            <a href="/assets">Nomination Form</a> on our website.
          </p>
        </div>
      </div>
    </div>
    <div id="footer">
        <p class="center">Conference Presented by</p>
        <div class="center">
          <div class="pic">
            <img src="/static/images/y.jpg" width="75" height="50"/>
          </div>
          <div class="pic">
            <img src="/static/images/discover.jpg" width="200" height="50"/>
          </div>
          <div class="pic">
            <img src="/static/images/mh.jpg" width="100" height="50"/>
          </div>
          <div class="pic">
            <img src="/static/images/mhusd.jpg" width="100" height="50"/>
          </div>
        </div>
    </div>
  </body>
</html>
