<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Morgan Hill Asset Builder Conference 2013</title>
  </head>
  <body>
    <div id="header">
      <h3 class="center">{{ msg }}</h3>
      <br/><br/>
      <hr/>
    </div>

    <div class="left">
      <div class="ored">
        <h1>Morgan Hill Asset Builder <br/>
            Conference 2013</h1>
      </div>
      <h4>Saturday March 16th, 2013 <br/>
          Community and Cultural Center </h4>

    </div>
    <div class="center">
      <div class="ored" id="border">
        <h2>Asset Champion Award Nominations</h2>
      </div>
      <h3>
        Do you know of a school, business,<br/> 
        youth organization, or individual<br/>
        who is an outstanding contributor to building <br/>
        youth assets in our community?
      </h3>
      <h2 class="ored">Nominate them for an Asset Champion Award!</h2>
      <p id="fine">
        To nominate a Morgan Hill business, youth-serving organization, school,
        or individual for an <b>Asset Champion Award</b>, which will be announced on
        Saturday, March 16th, 2013 at the Morgan Hill Asset Builder Conference,
        click on the link below to complete and submit the appropriate nomination form(s).
        For more information, email our conference comittee at:
        <a href="mailto:MHAssetConference@gmail.com">MHAssetConference@gmail.com</a>
      </p>
   </div> 
    <div class="left">
      <a href="/school">Asset Champion School of the Year</a><br/>
      <a href="/business">Asset Champion Business of the Year</a><br/>
      <a href="/youth">Asset Champion Youth Service Organization of the
Year</a><br/>
      <a href="/adult">Asset Champion Adult Role Model of the Year</a><br/>

    </div>
    <div id="footer">
        <hr/>
        Sponsored by:
        <p align="center">
        <img class="footer" src="/static/images/y.jpg" width="50" height="50"/>
        <img class="footer" src="/static/images/discover.jpg" width="100"
            height="50"/>
        <img class="footer" src="/static/images/mh.jpg" width="75"
            height="50"/>
        <img class="footer" src="/static/images/mhusd.jpg" width="75"
            height="50"/>
        </p>
    </div>

  </body>
</html>
