{% extends "base.html" %}

{% block title %}School of the Year Nomination Form{% endblock %}

{% block img %}schoolrole.jpg{% endblock %}

{% block headline %}School of the Year{% endblock %}

{% block due %}
    Nominations for an elementary, middle, or high school within
    MHUSD are
{% endblock %}

{% block action%}school{% endblock %}

{% block q1 %}
    What are the most significant examples and results of actions being taken
    to build a safer, more caring school where students feel respected and valued?
    Be sure to identify the key groups of people (e.g., students, teachers,
    administrators, parents, etc.) who are performing this intentional work.
{% endblock %}

{% block q2 %}
    What sets this school apart from other schools doing similar work to create
    safe school environments where all students feel respected and valued?
{% endblock %}
