{% extends "base.html" %}

{% block title %}Youth Service Organization of the Year Nomination Form{% endblock %}

{% block img %}youthservice.jpg{% endblock %}

{% block headline %}Youth Service Organization of the Year{% endblock %}

{% block due %}
    Nominations for organizations within Morgan Hill are
{% endblock %}

{% block action%}youth{% endblock %}

{% block q1 %}
    What are the most significant examples and results of action being taken to
    help create and develop an asset-rich environment where youth can grow and
    thrive?
{% endblock %}

{% block q2 %}
    What sets this youth service organization apart from others in the Morgan
    Hill community?
{% endblock %}
